# Database Configuration (PostgreSQL Remote)
DB_HOST=14.225.254.130
DB_PORT=5437
DB_NAME=hosoyte
DB_USER=boo_db
DB_PASS=Boo123qwe
# For Docker (recommended)
# DB_USER=medical_user
# DB_PASS=medical_password

# JWT Configuration
JWT_SECRET=your-secret-key-here
JWT_ALGORITHM=HS256

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# File Upload Configuration
UPLOAD_PATH=uploads/
MAX_FILE_SIZE=10485760

# Cloudflare R2 Storage Configuration
R2_ACCESS_KEY_ID=19fe0c203d759faa136e1fd023834227
R2_SECRET_ACCESS_KEY=24fdc0956a134c34e7c490e2caf6c28c1a36c2ba153b6832b1a4d53cc163fe2c
R2_REGION=auto
R2_BUCKET=khosource
R2_ENDPOINT=https://eeac9b668059321534d04547f1a26786.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://storage.khosource.io.vn

# Environment
APP_ENV=development
APP_DEBUG=true

# Google GenAI Configuration
GENAI_API_KEY=AIzaSyAqmY2cMh6Zr6GIiI5NgQHhdyZoqWyL36U
